div._streamlitAppContainer_nim44_1._embed_nim44_18 {
    border-radius: 0 !important;
    border-width: 0 !important;
    /* order-opacity: 1; */
    border-color:transparent !important;
    overflow: hidden;
    padding-bottom: 0 !important;
}